[run]
branch=True
source=boilerplate_package

[report]
precision=2
exclude_lines =
    pragma: no cover
    raise NotImplementedError

[html]
directory=htmlcov
title=Boilerplate-Package coverage Report